.wrapper {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    padding: 8px 0 8px;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.name {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);
}

.more-btn {
    padding: 8px;
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
